<!DOCTYPE html>
<html lang="si">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ඉගෙනුම් විලාස ගවේෂකය</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">{% block content %}{% endblock %}</div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
